<div class="mdl-layout" >
  <h1>{{roomCtrl.user}}</h1>
  <div class="qqq" ng-repeat="room in roomCtrl.rooms">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp room">
      <div class="mdl-card__title">
        <h5 >{{room.roomName}}</h5>
      </div>
      <div class="mdl-card__supporting-text"> {{ roomCtrl.getParticipants(room) }} </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored  mdl-js-button mdl-js-ripple-effect" ui-sref="chat({id:room.$id, currentUser:roomCtrl.user})" ng-click="roomCtrl.getID(room)">
          enter this room
        </a>
      </div>
    </div>
  </div>
    <form action="#">
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input message-input" type="text" ng-model="roomCtrl.newRoomName" ></textarea>
      <label class="mdl-textfield__label" for="sample5">Enter room name...</label>
    </div>
    <a class="mdl-button mdl-button--colored  mdl-button--raised  mdl-js-button mdl-js-ripple-effect" ng-click="roomCtrl.createARoom()" >
      Create a room
    </a>
  </form>

</div>
