<div class="mdl-layout form-wrap">
  <!-- <h2>{{loginCtrl.user}}</h2> -->
  <form  class="login-form">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="sample1" ng-model="loginCtrl.email">
      <label class="mdl-textfield__label" for="sample1" >Email...</label>
    </div>
      <br>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="password" id="pass" pattern="[A-Z,a-z,0-9 ]*" ng-model="loginCtrl.password">
      <label class="mdl-textfield__label" for="pass">Password...</label>
      <span class="mdl-textfield__error">Use letters and numbers together </span>
    </div>
      <br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="loginCtrl.logIn()">
      log in
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="loginCtrl.signUp()">
      sign up
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="loginCtrl.logOut()">
        log out
    </button>
  </form>
</div>
